:root {
  --primary-color: #5B86E5;
  --secondary-color: #36D1DC;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-bottom: 40px;
  color: var(--text-color);
  font-family: 'Hind', sans-serif;
  background-image: url(../img//background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a,
a:active,
a:visited {
  color: var(--text-color);
}

main {
  background-color: white;
  width: 100%;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;

  transition: opacity 1s, margin-top 1s ease-in-out;
}

section {
  margin-top: 40px;
  opacity: 1;

  transition: opacity 1s;
}

section:first-child,
section:nth-child(2) {
  margin-top: 0;
}

.profile-border {
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, right top, left top, from(var(--primary-color)), to(var(--secondary-color)));
  background: -webkit-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: -o-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

img.profile {
  width: 200px;
  vertical-align: middle;
}

img.contact-icon {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, right top, left top, from(var(--primary-color)), to(var(--secondary-color)));
  background: -webkit-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: -o-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

blockquote {
  font-style: italic;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightslategray;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 72px;
  color: lightgray;
}

blockquote::before {
  content: '“';
  left: 0;
}

blockquote::after {
  content: '”';
  bottom: 0;
  right: 0;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.skill {
  background-color: #f2f6f8;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  margin-top: 5px;

  transition: 100ms color ease-out;
}

.skill:hover {
  background: -webkit-gradient(linear, right top, left top, from(var(--primary-color)), to(var(--secondary-color)));
  background: -webkit-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: -o-linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  color: white;
}

.job,
.cert {
  pointer-events: none;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  display: block;
  color: var(--text-color);
  font-style: italic;
}

@media (min-width: 660px) {
  body {
    margin-top: 40px;
  }

  main {
    width: 600px;
  }
}
